@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    
        
    <div class="col-md-12">
        <div></div>
        <h2>User Dashboard</h2>

        <ul>
            <li>Create New User</li>
            <li>View Existing Users</li>
            <li>Edit Existing Users</li>
            <li>Delete Users</li>
        </ul>
    </div>
    
    
    
    <div class="col-md-12">
        <h2>Order Dashboard</h2>

        <ul>
            <li>Create New Order</li>
            <li>View Existing Orders</li>
            <li>Edit Orders</li>
            <li>Delete Orders</li>
        </ul>

    </div>
    
    
    <div class="col-md-12">
    <h2>Tech Used</h2>
    <ul>
        <li>ASP .NET Core</li>
        <li>MVC</li>
        <li>Entity Framework</li>
        <li>SQL Server</li>
        <li>AngularJs</li>
        <li>ASP .NET Core</li>
            
        <li>Visual Studio 2017 - The real MVP!</li>
            
    </ul>
    </div>
        
</div>
    
 
   
