
@{
    ViewData["Title"] = "Install";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Install Notes / Say Hi?</h2>


<a href="https://github.com/strum07/ShipBobApp.git">Github</a>
<br/>
<a href="https://www.linkedin.com/in/sagarsudhakar/">LinkedIn</a>


